#image-list li {
    list-style: none;
}

.container{
    min-width: 80vw !important;
}

.image-container{
    max-width: 98vw !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

#image-list {
    min-width: 200vw !important;

    /* left: 0; */
    right: 0;
    /* width: 100%; */
    /* border: 2px dashed red; */
    z-index: 300 !important;
    padding: 0% !important;
    display: flex;
    flex-direction: row;
    /* border: 2px dashed red; */
    justify-content: space-between !important;
    justify-content: stretch !important;
    margin: 0px !important;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    gap: 0px 0px !important;
    /* gap: 2vh 2vw;     */
    /* flex-wrap: revert-layer !important; */
}

img{
    max-height: 30vh !important;  
    opacity: 90%;
}
img:hover{
    opacity: 100%;
}

li{
    margin: 0px !important;
    padding: 
    0px !important;
    position: relative;

    top: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;;
}

@media (orientation:portrait) {
    img {
        min-width: initial !important;
        max-height: 20vh !important;
    }
}